<div class="container">
  <h2 class="title">TODO</h2>

  <div class="row">
    <div class="container container-todo">
      <form id="create-task" class="input-group mb-3">
        <input id="new-task-content" type="text" class="form-control" placeholder="New todo?">
        <div class="input-group-append">
          <button type="submit" class="btn btn-secondary">Add</button>
        </div>
      </form>
      <div id="todo-list-wrapper">
      <div id='tasks'></div>
      </div>
    </div>
  </div>
</div>
